/* чтобы сразу было видно, что CSS подключился */
body {
    background-color: #0f172a;
    font-family: Arial, sans-serif;
    color: #e5e7eb;
    padding: 40px;
}

/* карточка фильма */
.film-card {
    background-color: #1e293b;
    border: 2px solid #38bdf8;
    border-radius: 12px;
    padding: 20px;
    max-width: 500px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
}

/* название фильма */
.film-title {
    color: #38bdf8;
    margin-bottom: 15px;
}

/* ссылка */
.home-link {
    display: inline-block;
    margin-top: 20px;
    color: #38bdf8;
    text-decoration: none;
    font-weight: bold;
}

.home-link:hover {
    text-decoration: underline;
}
